<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="TextYess_Integration" setup_version="1.0.0">
        <sequence>
            <!-- Required for order & shipment events -->
            <module name="Magento_Sales"/>
        </sequence>
    </module>
</config>
